
p{
  text-align: justify;
}

.jumbotron{
  font-family: "Courier New", Courier, monospace;
  color: lime;
  background-color: black;
}

.custom-nav{
  background-color: #FFFFFF; filter: alpha(opacity=100);
  background-position: absolute;
  height: 50px;
}

.navbar-brand, .navbar-nav>li>a{
  color: #297A2D;
}

#header-container{
  background-color: white;
}

.navbar.navbar-fixed-top.fixed-theme {
  background-color: white;
}

#myname{
  font-size: 28px;
  color:white;
}

.i-am{
  font-size:21px;
  font-weight: 200;
  text-align: justify;
}

.headlink{
  color:white;
}
.heading{
  text-align: center;
  color: #297A2D;
  font-size: 36px;
  padding-bottom: 9px;
}

.fa{
  font-size: 40px;
  padding: 5px;
}

a{
  color:#CCC;
}

a:hover{
  text-decoration: none;
  color:#297A2D;
}

#about-section{
  text-align: center;
  color: white;
  background-image: url(images/insta1.jpg);
}

#social-section{
  text-align: center;
}

.experience-item{
  margin-bottom: 30px;
}

.experience-title{
  font-size: 30px;
/*  margin-bottom: -15px;
*/}

.experience-employer{
  font-size: 24px;
  /*margin-bottom: -15px;*/
}

.experience-years{
  font-size: 18px;
  /*margin-bottom: -15px;*/
}



/*Blinking cursor*/

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}



