
.heading-social{
  text-align: center;
  font-size: 32px;
}

.title{
  text-align: center;
  font-size: 36px;
  padding-bottom: 9px;
}

.fa{
  font-size: 40px;
  padding: 5px;
}

a:hover{
  text-decoration: none;
}